
/** ADD YOUR AWESOME CODES HERE **/

html {
	background: url(c-imgs/bg.jpg);
	scroll-behavior: smooth;
}


/* Gradient color1 - color2 - color1 */

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#mu-map {
  display: inline;
  float: left;
  height: 450px;
  width: 100%;
}

